* {
    margin: 0px;
    padding : 0px;
}

body {
    background-color: #E68707;
}

.profile-img-background {
    /* height: 650x; */
    /* width: 850px; */
    width: 100%;
    /* height: 24.45vw; */
    height: 100%;
    /* position: relative; */
    /* width: 100%;
    height: 100%; */
}
.root-container {
    display: flex;
    flex-direction: row;
}
.link-bg {
    height: 100vh;
    width: 4vw;
    background-color: #664822;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 10px;
}

.link-item {
    height: 20px;
    width: 20px;
    background-color:red;
}
.link-item:hover {
    width: 200px;
}

.body-container {
    overflow-y: auto;
    width: 96vw;
    height: 100vh;
}

.profile-aboutme-container {
    display: flex;
    justify-content: space-between;
    /* width:96vw; */
}

.profile-container {
    position: relative;
    flex-grow: 2;
    flex-basis: 200px;
    
}
.aboutme {
    padding : 15px;
    position: relative;
    flex-grow: 1;
    flex-basis: 200px;
    /* transform: scale(85%); */



}
.aboutme h3 {
    display: inline-block;
    border-bottom: 10px solid white;
    color : white;
    font-family: 'Cairo',sans-serif;
    /* font-size: 44px; */
    font-size: 3vw;
    box-sizing: border-box;    
    /* line-height: 55px; */
    line-height: 4vw;
}
.aboutme p {
    color : white;
    font-family: 'Cairo',sans-serif;
    /* font-size: 22px; */
    font-size: 1.5vw;
    /* line-height: 40px; */
    line-height: 2.5vw;
}

.profile-image {
    /* width: 200px;
    height: 200x; */
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 5px solid white;
   
}

.profile-image-name-bundle {
    position: absolute;
    top: 0;
    right:0;
    display: flex;
    align-items: center;
    gap: 10px;
    /* line-height: 65px; */
    line-height: 4vw;
    padding : 10px;
    transform: scale(75%);
}
.profile-image-name-bundle h1 {
    /* font-size: 70px; */
    font-size: 4vw;
    color : white;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}
.profile-image-name-bundle p {
    /* font-size: 35px; */
    font-size: 2vw;
    color : white;
    font-family: 'Cairo', sans-serif;
}

.profile-name-text {
    text-align:right;
}

.coffe-icon {
    width: 2.7vw;
    height: 2.7vw;
}

.hireme-btn {
    padding : 3px;
    /* width : 200px; */
    /* height: 65px; */
    width: 15vw;
    height: 4vw;
    background-color: #E68707;
    border:none;
    border-radius: 5px;
    /* font-size: 35px; */
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    /* right : 230px; */
    right : 15vw;
    /* bottom : -50px; */
    bottom: -4vw;
    
    transition: background-color .2s;
    color : white;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.hireme-btn:hover {
    background-color: #B36705;
}
.hireme-btn:active{
    background-color: #c77c1b;
}

.upwork-icon {
    height: 2vw;
    width: 2vw;
}


@media screen and (max-width: 400px){
    .root-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .link-bg {
        width : 100vw;
        height: 6vw;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .link-item:hover {
        width: 20px;
        height: 20px;
    }
    .profile-aboutme-container {
        display: flex;
        flex-direction: column-reverse;
        /* align-items: center; */

    }
    .profile-container {
        display: inline-block;
    }
    /* .profile-container {
        display: flex;
        flex-direction: column;
    }
    .profile-image-name-bundle {
        text-align: center;
    } */

    .profile-img-background {
        display: none;
    }
    .profile-image-name-bundle {
        display: flex;
        flex-direction: column-reverse;
        background-color: red;
    }
    .profile-name-text {
        text-align: center;
    }
    .aboutme {
        text-align: center;
    }
    .aboutme h3 {
        border-bottom: 3px solid;
        font-size: 8vw;
        line-height: 8vw;
    }
    .aboutme p {
        font-size: 4vw;
        margin-top: 15px;
        line-height: 5vw;
        text-align: center;
    }

}