@media screen and (max-width :400px) {
    .backg {
        background-color: #664822;
        display: flex;
        padding: 25vw;
        height: 30vw !important;
        justify-content: center !important;

        
    }
    .profile-container {
        /* display: inline-block; */
        width : 100vw;
        background-color: green;
        
        &__profile-img-background {
            display: none !important; 
        }
        &__profile-image-name-bundle {
            position: static !important;
            display: flex;
            flex-direction: column-reverse;
            text-align: center !important;
            

            &__mobile-name h1 {
                font-size: 5vw !important;
                margin-top: 1.3vw;
                
                
            }
            &__mobile-name {
                display: flex;
                flex-direction: column;
                transform: scale(220%) !important;
                margin-top: 100%;
                position: absolute;
                top : -20vw;
                
            }
            &__mobile-name span{
                margin-top: 2vw;
                display:flex !important;
                gap:5px !important;
                
                // float:none !important;
                align-items:center;
                transform: scale(150%);
                margin-left: 10vw;
            }

            &__profile-image {
                margin-top: 0px;
                width: 45vw !important;
                height: 45vw !important;
            }
               

            &__hireme-btn {
                align-self: flex-end;
                top: 70vw;
                right: 42vw !important;
                // top: 110% !important;
                transform: scale(170%) !important;
                font-size: 2.8vw !important;
                // margin-right: 25vw;
                
                
                
            }
            &__hireme-btn img {
                transform: scale(190%);
            }

        }
        &__profile-name-text {
            text-align: center;
        }

        
        
    }


}