@import "MobileAboutMePart.scss";

.aboutme {
    padding : 15px;
    position: relative;
    flex-grow: 1;
    flex-basis: 200px;
    /* transform: scale(85%); */



    &__heading {
        display: inline-block;
        border-bottom: 10px solid white;
        color : white;
        font-family: 'Cairo',sans-serif;
        /* font-size: 44px; */
        font-size: 3vw;
        box-sizing: border-box;    
        /* line-height: 55px; */
        line-height: 4vw;
    }
    &__description {
        color : white;
        font-family: 'Cairo',sans-serif;
        /* font-size: 22px; */
        font-size: 1.5vw;
        /* line-height: 40px; */
        line-height: 2.5vw;
    }
    &__showcasetab {
        margin-top: 4vw;
        background-color: #B36705;
        border-radius: 10px;
        display: inline-block;
        padding: 10px;
        width : 25vw;
        height: 3.5vw;
        font-size: 2vw;
        font-family: 'Cairo',sans-serif;
        position: relative;
        
        & a {
            color :white;
            padding : 0px 10px;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap : 1vw;
            cursor : pointer;
        }

        & a:hover {
            background-color: #b67521;
        }

        &__center {
            display: flex;
            justify-content: center;
            align-items: center;
            &__icon {
                width: 3vw;
                height: 3vw;

            }
        }
    }
}
