@import "MobileProfileContainerPart.scss";

.profile-container {
    position: relative;
    flex-grow: 2;
    flex-basis: 200px;
    box-sizing: border-box;
    

    &__profile-img-background {
        display: inline-block;
        height: 100%;
        width: 100%; 
        pointer-events: none;  
    }

    &__profile-image-name-bundle {
        position: absolute;
        top: 0;
        right:0;
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 4vw;
        padding : 10px;
        transform: scale(75%);

        &__profile-image {
            width: 12vw;
            height: 12vw;
            border-radius: 50%;
            border: 5px solid white;
           
        }

        &__upwork-icon {
            height: 2vw;
            width: 2vw;
        }

        &__coffe-icon {
            width: 2.7vw;
            height: 2.7vw;
        }
        

        &__hireme-btn {
            padding : 3px;
            width: 15vw;
            height: 4vw;
            background-color: #E68707;
            border:none;
            border-radius: 5px;
            font-size: 2vw;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            position: absolute;
            right : 15vw;
            bottom: -4vw;
            
            transition: background-color .2s;
            color : white;
            font-family: 'Cairo', sans-serif;
            font-weight: bold;
            cursor: pointer;
        }
        &__hireme-btn:hover {
            background-color: #B36705;
        }
        &__hireme-btn:active{
            background-color: #c77c1b;
        }
        
    }

    &__profile-image-name-bundle h1 {
        font-size: 4vw;
        color : white;
        font-family: 'Cairo', sans-serif;
        font-weight: bold;
    }
    &__profile-image-name-bundle p {
        font-size: 2vw;
        color : white;
        font-family: 'Cairo', sans-serif;
    }


    
}